h1{
    color:rgb(23, 45, 168);
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
    color:rgb(0, 0, 0);
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
    
}

#header{
    color:rgb(23, 45, 168);
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
    
}
h2{
    color:rgb(97, 97, 97);
    font: size 400%;font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

#name{
    color: green
}

#q1{
    color:indigo;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q2{
    color:khaki;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q3{
    color:lightcoral;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q4{
    color:brown;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q5{
    color:cadetblue;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q6{
    color:cornflowerblue;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q7{
    color:rosybrown;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q8{
    color:slategrey;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q9{
    color:tomato;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#q10{
    color:coral;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#name1{
    font: size 400%;font-family: Tahoma;
}
#p1{
    color:coral;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#p2{
    color:brown;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#p3{
    color:cadetblue;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#p4{
    color:cornflowerblue;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
#p5{
    color:rosybrown;
    font: size 400%;font-family:Georgia, 'Times New Roman', Times, serif;
}
.und{
    text-decoration: underline;
}
.und2{
    font-style:italic;
    font-weight: bold;
